@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
  --Font-size: 18px;
  --radius: 0.7rem;
  --trans: 0.2s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  color: var(--White);
}

p {
  color: var(--White);
}

.card-title h5 {
  margin-bottom: 0;
  font-size: var(--Font-size);
}

body {
  background: var(--Very-dark-blue);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: transparent;
  color: var(--Desaturated-blue);
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 90rem;
  margin: auto;
  padding: 2rem 1.5rem;
}

.card--hero {
  background-color: var(--Dark-blue);
  border-radius: var(--radius);
}

.card--hero,
.card {
  width: 100%;
  max-width: 24.43rem;
  margin: auto;
}

.card--header {
  border-radius: var(--radius);
  background-color: var(--Blue);
  justify-content: flex-start;
  padding: 1.5rem;
  gap: 1rem;
}

.person-img {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid var(--White);
  border-radius: 100%;
}

.text p {
  color: var(--Pale-Blue);
}

.text h2 {
  margin-bottom: 0;
}

.sub-card {
  justify-content: space-between;
  transition: var(--trans);
  padding: 1rem 1.5rem;
}
.sub-card button {
  padding: 0.4rem;
}
.sub-card button:hover {
  color: var(--White);
}
.sub-card button.active {
  color: var(--White);
}

.card {
  margin: 2rem auto 0;
  padding-top: 2.5rem;
  border-radius: var(--radius);
}

.card-content {
  background-color: var(--Dark-blue);
  border-radius: var(--radius);
  padding: 1rem 1.5rem;
}

.card-title {
  margin-bottom: 0.5rem;
}
.card-title a svg {
  fill: var(--Pale-Blue);
  transition: var(--trans);
}
.card-title a svg:hover {
  fill: var(--White);
}

.hours p {
  letter-spacing: 0.1rem;
  color: var(--Pale-Blue);
}

@media screen and (min-width: 56.25rem) {
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 12.9rem);
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
  }
  .card--hero {
    grid-row: 1/3;
  }
  .card--hero,
  .card {
    margin: 0;
    margin-top: 0;
  }
  .break {
    display: block;
  }
  .card--header,
  .sub-card,
  .hours {
    flex-direction: column;
    align-items: flex-start;
  }
  .text p,
  .hours p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */